@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  /* reset */


html, body {
  font-family: 'Poppins', sans-serif;
  position: relative;
}
*:focus:not(.focus-visible) {
  outline: none;
}
// basic section wrapper
.content-wrap{
  width: 900px;
  margin: 0 auto;
   @media (max-width: 900px){
      width: 100%;
    }
}


// uihues css
.l1{
    font-size: 4.8rem;
}

.l2{
    font-size: 2.8rem;
}

.l3{
    font-size: 2.4rem;
}

.l3{
    font-size: 2.0rem;
}

.l3{
    font-size: 2.8rem;
}

h1{
    font-size:60px;
}

$bg-grey: #F6F6F6;
$white: #ffffff;
$coal: #393939;
$grey-2: #969696;
// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px


body,html{
    background: $bg-grey;
}
.uihues-nav{
    ul{
      padding: 18px;
        >li{
            display:inline-block;
            margin-right: 30px;
            a{
              font-size:20px;
              display:block;
              text-decoration: none;
              padding: 16px 0;
              color: $grey-2;
              &:hover{
                color: $coal;
              }
              &.active{
                color: $coal;
                border-bottom: 2px solid #FF0404;
                font-weight: 500;
              }
            }
        }
    }
}

header{
  .top-header{
    img{
    }
  }
  .logo{
    max-height: 50px;
    margin-bottom: 20px;
  }
  p{
    font-size: 20px;
    font-weight:300;
    line-height: 1.6;
  }
}



.uihues-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
    .color-wrap{
        width: 50%;
        @media (max-width: $tablet-wide){
          width: 100%;
        }
        .color-box{
            margin: 18px;
            .hue-meta{
                padding-top: 10px;
                padding-bottom: 10px;
                h3.hue-num{
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $grey-2;
                    font-weight: 600;
                    letter-spacing: 2px;
                    width: 50%;
                    display: inline-block;
                }
                ul.hue-atn{
                    width: 50%;
                    display: inline-block;
                    text-align: right;
                    >li{
                        display: inline-block;
                        a{
                            display: block;
                            margin-left: 5px;
                            svg{
                                height: 20px;
                                width: 20px;
                                stroke: $grey-2;
                            }
                            &:hover{
                                svg{
                                    stroke: darken($grey-2, 30%);
                                }
                            }
                        }
                    }
                }
            }

            ul.color-hex{
                padding: 8px;
                background: $white;
                border-radius: 14px;
                box-shadow: 0px 0px 8px rgba(141, 140, 163, 0.2);
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
                >li{
                    display: inline-block;
                    width:25%;
                    height: 115px;
                    text-align: center;

                    &:hover{
                        opacity: 0.9
                    }
                    &.gradient{
                      width: 100%;
                      border-radius: 8px;
                      text-align: left;
                      cursor: pointer;

                      .grdhex{
                        font-size: 14px;
                        letter-spacing: 1px;
                        display: block;
                        padding-top: 122px;
                        padding-bottom: 4px;
                        text-decoration: none;
                        color: $coal;
                        cursor: pointer;
                      }
                    }
                }
                &:hover{
                     box-shadow: 0px 8px 40px rgba(141, 140, 163, 0.3);
                }
            }

            .hues{
                position: relative;
                 &:first-child{
                        border-radius: 8px 0 0 8px;
                    }
                    &:last-child{
                        border-radius: 0 8px 8px 0;
                    }
                .copyic_wrap{
                      text-align: left;
                      position: absolute;
                      left: 10px;
                      top: 10px;
                      opacity: 0;
                      font-size: 12px;
                      vertical-align: middle;
                      svg{
                          height: 18px;
                          width: 18px;
                          stroke: rgba(0,0,0, 0.3);
                          vertical-align: middle;
                      }
                      span.csss{
                        font-size: 12px;
                        vertical-align: middle;
                        opacity: 0.3
                      }
                }
                &:hover{
                    .copyic_wrap{
                        opacity: 1;
                    }
                }
                span.huehex{
                    font-size: 14px;
                    letter-spacing: 1px;
                    display: block;
                    padding-top: 122px;
                    padding-bottom: 4px;
                    text-decoration: none;
                    color: $coal;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }


    }
}

footer{
  font-weight: 300;
  .credit{
    padding: 18px;
  }
  a{
    text-decoration: none;
    font-weight: 600;
    color: $coal;
    &:hover{
      color: darken($coal, 10%);
    }
  }
}

.ops-404{
  padding: 100px 18px;
  h2{
    font-size: 44px;
    margin-bottom: 20px;
  }
  a{
    text-decoration: none;
    color: blue;
    &:hover{
      color: $coal;
    }
  }
}


// random color
html, body {
    height: 100%;
    width: 100%;
     background-color: #fff;
     -webkit-animation: random 15s infinite;
     animation: random 15s infinite;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all ease 0.2s;
}
@keyframes  random {
    5% { background-color: #EE408B; }
    10% { background-color: #FF0000; }
    20% { background-color: #7000FF; }
    30% { background-color: #061FFF; }
    40% { background-color: #06C3FF; }
    50% { background-color: #2E2D31; }
    60% { background-color: #FF5106; }
    70% { background-color: #1AFF06; }
    80% { background-color: #FFD600; }
    90% { background-color: #FF0000; }
    100% { background-color: #00F0FF; }
}

/*
@keyframes mymove{
    form{background-color: #38dc58; }
    to{background-color: #9b40f1;}
}
YOU CAN USE LIKE IT TOO :d
*/

.soon_section{
  height: 100%;
  width: 100%;
  .soon_wrapper{
    background: $white;
    padding: 64px;
    margin: 80px;
    padding-bottom: 44px;
    border-radius: 36px;
    -webkit-box-shadow: 0 24px 64px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 24px 64px -2px rgba(0,0,0,0.3);
    box-shadow: 0 24px 64px -2px rgba(0,0,0,0.3);
    @media (max-width: 768px){
       margin: 0;
    }

    .soon_details{

      text-align: center;
      .logo{
        height: 60px;
      }
      p{
        margin-top: 32px;
        margin-bottom: 34px;
        font-size: 22px;
        font-weight: 300;
        line-height: 160%;
        @media (max-width: $tablet-wide){
          font-size: 18px;
        }
      }
      strong{
        font-weight: 800;
      }
      h3{
        font-size: 24px;
        letter-spacing: 12px;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 130%;
        color: #EE408B;
      }
      .credit{
        padding-top: 24px;
        font-size: 16px;
      }
      a{
        margin-top: 36px;
        text-decoration: none;
        color: #000000;
        font-weight: 600;
        font-size: 20px;
        &.figma{
          background: #000;
          color: #ffffff!important;
          display: inline-block;
          border-radius: 12px;
          padding: 18px 18px;
          margin-top: 0px;
          font-weight: 500;
          margin-bottom: 30px;
          border: 1px solid #000000;
        }
        &.insta{
          margin-left: 20px;
          display: inline-block;
          border: 1px solid #000000;
          color: #000000;
          padding: 18px 18px;
          border-radius: 12px;
          margin-top: 0px;
          font-weight: 500;
          margin-bottom: 30px;
        }
      }
    }
  }
}



.center
{
  margin:auto;
  position:absolute;
  top:0; bottom:0; left:0; right:0;
}
